{% extends "base.html" %}

{% block customStyle %}
    <style type="text/css">
        body {
            height: 100%;
            margin: 0
        }
    </style>
{% endblock %}

{% block mainBody %}
    <div>
        <form action="/config/price/" method="post">
            {% csrf_token %}
            <div>日期：<input type="text" id="id_startPriceDate" name="startPriceDate" value="{{ startPriceDate }}"
                           style="width: 120px;"
                           readonly="readonly"/>
                至
                <input type="text" id="id_endPriceDate" name="endPriceDate" value="{{ endPriceDate }}"
                       style="width: 120px;"
                       readonly="readonly"/>
            </div>
            <br/>
            <div>
                价格类型：<select name="priceType">
                <option value="1">买入</option>
                <option value="2">卖出</option>
            </select>
                <input type="submit" value="查询"/>
            </div>
        </form>
    </div>
    <br/>
    <div id="container" style="min-height: 450px;"></div>
    <script type="text/javascript" src="/statics/script/echart/echarts.common.min.js"></script>
    <script type="text/javascript" src="/statics/script/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var idStartPriceDate = document.getElementById("id_startPriceDate");
        idStartPriceDate.onclick = function () {
            WdatePicker({dateFmt: "yyyy-MM-dd HH:mm"});
        }
        var idEndPriceDate = document.getElementById("id_endPriceDate");
        idEndPriceDate.onclick = function () {
            WdatePicker({dateFmt: "yyyy-MM-dd HH:mm"});
        }

        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        option = {
            title: {
                text: '{{ chartTitle }}',
                x: 'left'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['价格','均价', '汇率'],
                x: 'right'
            },
            grid: {
                left: '3%',
                right: '4%',
                containLabel: true
            },
            dataZoom: {
                show: true,
                realtime: true,
                start: 0,
                end: 100
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: {{ dateDatas | safe }}
            },
            yAxis: {
                scale: true,
                type: 'value'
            },
            series: [
                {
                    name: '价格',
                    type: 'line',
                    smooth: true,
                    stack: '数量1',
                    data: {{ priceDatas }}
                },
                {
                    name: '均价',
                    type: 'line',
                    smooth: true,
                    stack: '数量2',
                    data: {{ avgDatas }}
                },
                {
                    name: '汇率',
                    type: 'line',
                    smooth: true,
                    stack: '数量3',
                    data: {{ rateDatas }}
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
{% endblock %}