<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>登录</title>
</head>
<body>
<form action="/login/" method="post">
    {% csrf_token %}
    {% for field in loginData %}
        <div>
            <span style="width: 60px;text-align: left;display: inline-block;">{{ field.label_tag }}</span>
            {{ field }} {{ field.errors }}
        </div>
        <br/>
    {% endfor %}
    <input type="submit" value="登录"/>
</form>
</body>
</html>